  
<html>
    <head>
        <title>Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
      </head>
    <body>
        <div class="w3-container w3-teal">
            <h1>Search Restaurant</h1>
          </div>
        <form action="/result">
            <p>
            Name: <input type="text" name="name"><br>
            </p>
            <p>
            Cuisine: <input type="text" name="cuisine"><br>  
            </p>
            <p>
            Borough: <input type="text" name="borough"><br>
            </p>
            <input class="w3-btn w3-section w3-teal w3-ripple" type="submit" value="search">
        </form>
    </body>
</html>